<!doctype html>
<html lang="{{ site.lang | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="stylesheet" href="{{ "css/main.css" | relative_url }}">
  <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body class="antialiased">
<div class="relative bg-white">
  <div class="relative max-w-4xl mx-auto">
    <div class="min-h-screen bg-white">
      <div class="flex-grow flex flex-col justify-center p-12">
        <div class="">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
